<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Cambiar entre "MySql" o "SqlServer" para seleccionar la base de datos activa -->
		<!-- Valor actual: MySql -->
		<add key="ActiveDb" value="MySql"/>
	</appSettings>

	<connectionStrings>
		<!-- Conexion SQL Server -->
		<add name="DentalSysSqlServer"
			 connectionString="Data Source=DESKTOP-6KS04K2\REBORGU;
                       Initial Catalog=ConsultorioDental;
                       User ID=sa;
                       Password=lista13;
                       TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient" />

		<!-- Conexion MySQL -->
		<add name="DentalSysMySql"
			 connectionString="Server=localhost;
                           Database=consultoriodental;
                           Uid=reborGU;
                           Pwd=lista13;
                           SslMode=Disabled;
                           AllowUserVariables=True;AllowPublicKeyRetrieval=True;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>
